div {
  max-width: 500px;
  word-break: break-all;
}
div#footerImg {
  width: 100%;
  position: relative;
  bottom: 0%;
  height: 150px;
  border: solid black 2px;
}
footer {
  width: 100%;
}

header {
  width: 100%;
  text-align: center;
  border: 2px black solid;
  background-color: floralwhite;
}
section {
  width: 100%;
  border: 2px black solid;
  background-color: honeydew;
}
#version {
  width: 100%;
  text-align: right;
  font-size: 7px;
}
h1 {
  text-align: center;
}

#body_container {
  max-width: 450px;
}
body {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "gowun dodum", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  background-color: rgb(53, 59, 59);
  background-image: url("/c.png");
  margin: 0px;
}
#tg1 {
  float: left;
  position: relative;
  width: 35%;
}

aside {
  width: 100%;
  border: 2px black solid;
  background-color: white;
}
@keyframes textColorAnim {
  0% {
    color: black;
  }
  25% {
    color: red;
  }
  50% {
    color: black;
  }
  75% {
    color: red;
  }
  100% {
    color: black;
  }
}
details p {
  animation: textColorAnim 5s infinite;
  font-size: 13px;
}
a {
  color: rgb(90, 201, 205);
}

@keyframes textSizeAnim {
  0% {
    font-size: 14px;
  }
  25% {
    font-size: 18px;
  }
  50% {
    font-size: 14px;
  }
  75% {
    font-size: 18px;
  }
  100% {
    font-size: 14px;
  }
}
div#characterTable {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
div#characteritems {
  text-align: center;
}
div.subtitle {
  color: white;
  background-color: black;
  width: 100%;
}
div.maintitle {
  color: greenyellow;
  background-color: rgb(48, 46, 46);
  width: 100%;

  line-height: 50px;
}
div.maintitle h1::before {
  content: "제목:";
}
div.maintitle h1 {
  border: black solid 1px;
  font-size: 48px;
}
div.charImg {
  width: 45px;
  height: 45px;
  margin: 2px;
  border: 2px black solid;
}
div#menuBtn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: forestgreen;
  cursor: pointer;
}

div#s3ImgDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
}
#s3 {
  width: 20%;
  height: 20%;
}
summary:hover {
  cursor: pointer;
  color: fuchsia;
}
nav {
  position: fixed;
  top: 30px;
  left: 0;
  background-color: gray;
  border: 2px black solid;
  color: white;
  z-index: 1000;
}
.menuText {
  cursor: pointer;
}
.menuText:hover {
  background-color: blue;
  color: white;
}
.item {
  width: 130px;
  height: 40px;
  font-size: 8px;
  border: 1px black solid;
  background-color: black;
  display: flex;
  margin: 2px;
  vertical-align: center;
}
#characterSet {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.itemList {
  background-color: rgb(79, 71, 47);
  width: 95%;
  border: 3px solid black;
  display: inline-block;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.itemList h1 {
  width: 100%;
}
.listWrap {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.character {
  width: 45px;
  height: 60px;
  display: inline-table;
  margin: 2px;
  border: 2px black solid;
  background-color: black;
  text-align: center;
}
div.icon {
  z-index: 0;
  position: relative;
}
div.itemicon div.icon {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
div.itemicon div.icon div {
  width: inherit;

  display: block;
}
div.item .div.icon {
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.item div.icon div {
  width: 40px;
}

div.itemDetailView div.icon {
  width: 100%;
}
div.itemDetailView div.icon div {
  display: inline-block;
  width: 250px;
  height: 250px;
}
.name {
  color: white;
  background-color: black;
  width: 100%;
  line-height: center;
  font-size: 8px;
  text-align: center;
  display: table-row;
}
.유니크 {
  color: rgb(248, 151, 232);
}
.레어 {
  color: rgba(194, 40, 255, 0.678);
}
.언커먼 {
  color: rgb(94, 190, 228);
}
.커먼 {
  color: rgb(190, 187, 187);
}
.경고 {
  color: rgb(253, 13, 13);
}
.hidden {
  color: white;
  animation: textSizeAnim 3s infinite;
}
.itemSetting {
  background-color: gray;
  border: solid black 3px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 40px;
  width: 98%;
}
.itemicon {
  width: 100%;
  height: 100%;
  display: flex;
}
.inputDiv {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  width: 100%;
}
h2 {
  width: 100%;
  text-align: center;
}

.toolTip {
  display: inline-block;
}
.toolTipfalse .characterI {
  background-color: black;
  position: absolute;
  transition: transform 1s;
  display: none;
  font-size: 10px;
  z-index: 300;
}
.toolTipfalse .itemI {
  background-color: black;
  position: absolute;
  display: none;
  font-size: 10px;
  z-index: 300;
}
.toolTipfalse .itemiconI {
  background-color: black;

  position: absolute;
  display: none;
  font-size: 10px;
  z-index: 300;
}

/* .toolTip:visited .characterI {
  color: white;
  display: flex;
  left: inherit;
  font-size: 10px;
  width: fit-content;
  text-align: center;
}

.toolTip:visited .itemI {
  color: white;
  width: fit-content;
  display: flex;
}
.toolTip:visited .itemiconI {
  color: white;
  width: fit-content;
  display: flex;
} */
.toolTiptrue .characterI {
  z-index: 300;
  background-color: black;
  position: absolute;
  color: white;
  display: flex;
  left: inherit;
  font-size: 10px;
  width: fit-content;
  text-align: center;
}

.toolTiptrue .itemI {
  z-index: 300;
  background-color: black;
  position: absolute;
  color: white;
  width: fit-content;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.toolTiptrue .itemiconI {
  z-index: 300;
  background-color: black;
  position: absolute;
  color: white;
  max-width: 180px;
  font-size: 10px;
  width: 100px;
  display: flex;
}

button.normal {
  color: black;
  font-size: 25px;
  height: 40px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: ivory;
}
.loadingtrue {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.loadingfalse {
  z-index: 1000;
  position: fixed;
  display: none;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.ItemSlot {
  background-color: gray;
  border: 1px solid black;
  font-size: 0px;
  display: inline-block;
  width: max-content;
}

.itemSlotNotFloatMini {
  display: inline-block;
  z-index: 200;
  top: 30px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 0px;

  width: fit-content;
  background-color: gray;
  border: 2px black solid;
}
.itemSlotNotFloatMax {
  /* z-index: 200;
  top: 30px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 0px;

  width: 100%;
  background-color: gray;
  border: 2px black solid; */
  display: inline-block;
  z-index: 200;
  top: 30px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 0px;

  width: fit-content;
  background-color: gray;
  border: 2px black solid;
}
.itemSlotFloatMini {
  /* z-index: 200;
  top: 30px;
  left: 0;
  background-color: gray;
  width: fit-content;
  display: inline;
  height: fit-content; */
  display: inline-block;
  z-index: 200;
  top: 30px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 0px;

  width: fit-content;
  background-color: gray;
  border: 2px black solid;
}
.itemSlotFloatMax {
  /* display: inline;
  z-index: 200;
  top: 30px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  width: max-content;
  background-color: black;
  border: 2px black solid; */
  display: inline-block;
  z-index: 200;
  top: 30px;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 0px;

  width: fit-content;
  background-color: gray;
  border: 2px black solid;
}
.slot1 {
  width: 100%;
  display: flex;
}
.slot2 {
  width: 100%;

  display: flex;
}
th {
  flex: 2;

  border: 1px white solid;
}
table {
  font-size: 6px;
  color: white;

  border: 1px white solid;
}
tbody {
  flex-direction: column;
}
tr .head {
  flex: 6;
  border: 1px white solid;
}
tr .tail {
  flex: 4;
  border: 1px white solid;
}
td {
  border: 1px white solid;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 0px;
}

.statusBarCurrent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  background-color: blue;
  border-bottom: solid black 3px;
}
.statusBarCurrent .space {
  font-size: 15px;
  flex: 9;
  text-align: left;
  line-height: 25px;
  color: greenyellow;
}
.statusBarCurrent .space::before {
  content: " □  ";
  font-size: 15px;
}
.statusBarCurrent .tools {
  font-size: 0px;
  color: black;
  align-items: right;
  height: 100%;
}

.statusBarSlot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  background-color: darkgray;
  border-bottom: solid black 3px;
  font-size: 0px;
}

.statusBarSlot .space {
  font-size: 15px;
  flex: 9;
  text-align: left;
  color: white;
}

.statusBarSlot .tools {
  font-size: 0px;
  text-align: center;
  align-items: right;
  height: 100%;
}
.statusBarCurrentSlot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  background-color: blue;
  border-bottom: solid black 3px;
}
.statusBarCurrentSlot .space {
  font-size: 15px;
  flex: 9;
  text-align: left;

  color: greenyellow;
}
.statusBarCurrentSlot .space ::before {
  content: " □  ";
  font-size: 15px;
}

.statusBarCurrentSlot .tools {
  font-size: 0px;
  color: black;
  align-items: right;
  text-align: center;
}
.divButton {
  color: black;

  font-size: 25px;
  background-color: gray;
  border-left: 1px black solid;
  height: 100%;
  width: 1em;
  flex: 1;
  line-height: 30px;
  display: inline-block;
}

.divButton:active {
  background-color: blue;
  color: yellow;
}
.toolBarON {
  position: absolute;
  padding-left: 2px;
  padding-right: 2px;

  background-color: black;
  color: white;
  animation: forwards 0.5s moveup;

  margin-right: 2px;
  z-index: 500;
}
@keyframes moveup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-5px) translateY(-2px);
  }
}
.toolBarON .divButton {
  display: inline-block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(241, 252, 216);
  color: black;
  margin-bottom: 4px;
  border-radius: 15%;
}
.toolBarON .space {
  font-size: 10px;
  width: 100%;
}
.toolBarOFF {
  position: absolute;
  display: none;
}
.announceWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 400;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.1);
}
.announce {
  display: block;
  width: 100%;
  flex-direction: column;
  height: fit-content;
}
.announceText {
  width: 100%;
  text-align: center;
  border-radius: 10%;
  background-color: black;
  border: 1px yellow solid;
}

.result {
  display: inline-block;
  background-color: black;
  color: white;
  width: 98%;
  text-align: center;
  font-size: 0px;
  border: 3px solid black;

  margin-bottom: 30px;
  margin-top: 30px;
}
.result h1 {
  font-size: 20px;
  margin-bottom: 5px;
  width: 99%;
  border: cornsilk 2px dotted;
}
.result h2 {
  font-size: 15px;
  width: 99%;
  border: cornsilk 2px dotted;
  margin-bottom: 5px;
}
table.result tbody {
  display: inline-block;
  font-size: 13px;
}
div.abilName:before {
  list-style: square;
  font-size: 5em;
}
div.abilNum {
  list-style-type: circle;
}
div.abillity {
  font-size: 13px;
}
div.sideEffect::after {
  content: "★";
}
div.sideEffect {
  margin-bottom: 3em;
}
.itemDetailView {
  background-color: rgb(63, 51, 30);
  color: white;

  padding-bottom: 30px;
  display: inline-block;
  width: 95%;
  margin-top: 30px;

  margin-bottom: 5px;
  border: 2px solid black;
}

.summaryResultFloat {
  background-color: black;
  display: inline-block;
  font-size: 10px;
  width: 300px;
}
.floatSlots {
  top: 30px;
  left: 0;
  position: fixed;
  display: inline;
  background-color: rgba(255, 255, 255, 1);
  width: 0px;
  z-index: 600;
}
.tapTimeCheck {
  position: fixed;
  z-index: 300;
}
div.imgButton {
  width: 40px;
  height: 40px;
  display: inline-block;
  transition: transform 1s;
}
div.imgButton:active {
  transform: rotate(360deg);
}
div.toolBarBtn {
  display: inline-block;
}
div.imgButtonSmall {
  width: 30px;
  height: 30px;
  display: inline-block;
}
div.imgButtonSmall:active {
  width: 25px;
  height: 25px;
}
input.ReNameInputtrue {
  width: 80%;
  height: 20px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
}
input.ReNameInputfalse {
  display: none;
}
details.slot {
  width: 100%;
  font-size: 25px;
  background-color: rgb(63, 59, 59);
  border-bottom: white;
  margin-bottom: 40px;
}
details.slot[open] {
  background-color: black;
  font-size: 30px;
}
.absolutediv {
  z-index: 400;
  position: absolute;
}
.opacityWrap {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
input.codeInput {
  size: 10;
}
.searchResult {
  background-color: black;
}
.searchResult h1 {
  color: white;
}
.searchResult h3 {
  font-size: 10px;
  color: white;
}
.searchResult .itemList {
  background-color: skyblue;
}
.itemSearchResult {
  margin-bottom: 30px;
}
.charSearch {
  width: 80%;
}
