div {
  max-width: 450px;
  word-break: break-all;
}
img#footerImg {
  width: 100%;
  position: relative;
  bottom: 0%;
  border: solid black 2px;
}
footer {
  width: 100%;
}

header {
  width: 100%;
  text-align: center;
  border: 2px black solid;
  background-color: floralwhite;
}
section {
  width: 100%;
  border: 2px black solid;
  background-color: honeydew;
}
#version {
  width: 100%;
  text-align: right;
  font-size: 7px;
}
h1 {
  text-align: center;
}

#body_container {
  max-width: 450px;
}
body {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "gowun dodum", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  background-color: rgb(53, 59, 59);
  background-image: url("/c.png");
}
#tg1 {
  float: left;
  position: relative;
  width: 35%;
}

aside {
  width: 100%;
  border: 2px black solid;
  background-color: white;
}
@keyframes textColorAnim {
  0% {
    color: black;
  }
  25% {
    color: red;
  }
  50% {
    color: black;
  }
  75% {
    color: red;
  }
  100% {
    color: black;
  }
}
details p {
  animation: textColorAnim 5s infinite;
  font-size: 13px;
}
a {
  color: rgb(90, 201, 205);
}
span#hiddenword {
  color: white;
  animation: textSizeAnim 3s infinite;
}
@keyframes textSizeAnim {
  0% {
    font-size: 14px;
  }
  25% {
    font-size: 18px;
  }
  50% {
    font-size: 14px;
  }
  75% {
    font-size: 18px;
  }
  100% {
    font-size: 14px;
  }
}
div#characterTable {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
div#characteritems {
  text-align: center;
}
div#subtitle {
  color: white;
  background-color: black;
  width: 100%;
}
div.charImg {
  width: 45px;
  height: 45px;
  margin: 2px;
  border: 2px black solid;
}
div#menuBtn {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: forestgreen;
  cursor: pointer;
}

div#s3ImgDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#s3 {
  width: 20%;
  height: 20%;
}
summary:hover {
  cursor: pointer;
  color: fuchsia;
}
nav {
  position: fixed;
  top: 30px;
  left: 0;
  background-color: gray;
  border: 2px black solid;
  color: white;
}
.menuText {
  cursor: pointer;
}
.menuText:hover {
  background-color: blue;
  color: white;
}
.item {
  width: 100px;
  height: 30px;
  font-size: 8px;
  border: 1px black solid;
  background-color: gray;
  display: flex;
}
.item div.itemImg {
  width: 30px;
  height: 30px;
}
.item div.itemImg img {
  width: 30px;
  height: 30px;
}
.item div.itemName {
  width: 70px;
  height: 30px;
  line-height: 30px;
}
#characterSet {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
